{% extends '::base.html.twig' %}

{% block body %}
<h1>{% trans %}attachment.notFound.h1{% endtrans %}</h1>

<h2>{% trans %}attachment.notFound.h2{% endtrans %}</h2>

{% trans %}attachment.notFound.text{% endtrans %}
{% endblock %}
