<!DOCTYPE html>
<html>
<head>
{% trans_default_domain "error" %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% trans %}exceptionPage.title{% endtrans %}: {{ status_text|trans }}</title>
</head>
<body>
  <h1>{% trans %}exceptionPage.header{% endtrans %}</h1>
  <h2>{% trans %}exceptionPage.serverReturned{% endtrans %} "{{ status_code }} {{ status_text|trans }}".</h2>
{% set mailLink = '<a href="mailto:support@commitkeeper.com?Subject='
       ~ 'exceptionPage.mailSubject'|trans|escape('url')
       ~ '">support@commitkeeper.com</a>' %}
{% trans %}exceptionPage.message%mailLink%{% endtrans %}
</body>
</html>
