﻿/**
* Table css file
*/

table.sort_table {
  
}
.sort_table {
     margin: 0 auto;
}

.sort_table th {
    white-space:nowrap;
    background-color:#ccc;
    margin:0px; 
        padding: 8px;
    font-weight:normal; 
    color:#666; 
    font-size: 15px;
}

.sort_table td {
    font-size: 14px;
    margin:0px; 
        padding: 8px;
}
.sort_table .odd td {
    background-color:#fff;
}
.sort_table .even td {
    background-color:#f3f3f3;
}
.sort_table .unread td {
    font-weight:bold;
}
.sort_table .hover td {
    background-color:#A5B3C9;
}
.sort_table .sortedminus {
    background-color:#ecc;
}
.sort_table .sortedplus {
    background-color:#cec;
}
.sort_table .selrow td {
    background-color:#879AB7;
}

.sort_table td.icon {
    text-align: center;
}

.sort_table td.date {
    text-align: right;
    white-space:nowrap;
}


#ck_commListAll {
	clear: both;
    width: 1280px;
    height: auto;
    min-height: 110px;
	max-height: 1010px;
}

.bottom-content .sort_table .scrollContent{
    height: auto !important;
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.ck_commListAll {
	overflow: hidden;
	width: 1278px
}

/* define width of table. IE browsers only                 */
div.ck_commListAll table {
	float: left;
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.ck_commListAll table {
	width: 1301px;
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of ck_commListAll has an overflow property set to auto */
thead.fixedHeader tr {
	position: relative;	
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
	display: block;
}



/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
	display: block;
	height: 467px;
	overflow-y: scroll;
	width: 100%;
	resize: vertical;
	min-height: 67px;
	max-height: 1067px;
	border-bottom: 1px solid #CCC;
}

html>body .bottom-content .sort_table tbody.scrollContent {
	resize: none;
}

#ck_commListAll .sort_table td:nth-child(1), #ck_commListAll .sort_table th:nth-child(1) { width: 50px; }
#ck_commListAll .sort_table td:nth-child(2), #ck_commListAll .sort_table th:nth-child(2) { width: 185px; }
#ck_commListAll .sort_table td:nth-child(3), #ck_commListAll .sort_table th:nth-child(3) { width: 140px; }
#ck_commListAll .sort_table td:nth-child(4), #ck_commListAll .sort_table th:nth-child(4) { width: 100px; }
#ck_commListAll .sort_table td:nth-child(5), #ck_commListAll .sort_table th:nth-child(5) { width: 140px; }
#ck_commListAll .sort_table td:nth-child(6), #ck_commListAll .sort_table th:nth-child(6) { width: 140px; }
#ck_commListAll .sort_table td:nth-child(7), #ck_commListAll .sort_table th:nth-child(7) { width: 140px; }
#ck_commListAll .sort_table td:nth-child(8), #ck_commListAll .sort_table th:nth-child(8) { width: 200px; }
#ck_commListAll .sort_table td:nth-child(9), #ck_commListAll .sort_table th:nth-child(9) { width: 140px; }

.bottom-content .sort_table td:nth-child(1), .bottom-content .sort_table th:nth-child(1) { width: 50px; }
.bottom-content .sort_table td:nth-child(2), .bottom-content .sort_table th:nth-child(2) { width: 185px; }
.bottom-content .sort_table td:nth-child(3), .bottom-content .sort_table th:nth-child(3) { width: 140px; }
.bottom-content .sort_table td:nth-child(4), .bottom-content .sort_table th:nth-child(4) { width: 100px; }
.bottom-content .sort_table td:nth-child(5), .bottom-content .sort_table th:nth-child(5) { width: 140px; }
.bottom-content .sort_table td:nth-child(6), .bottom-content .sort_table th:nth-child(6) { width: 140px; }
.bottom-content .sort_table td:nth-child(7), .bottom-content .sort_table th:nth-child(7) { width: 140px; }
.bottom-content .sort_table td:nth-child(8), .bottom-content .sort_table th:nth-child(8) { width: 200px; }
.bottom-content .sort_table td:nth-child(9), .bottom-content .sort_table th:nth-child(9) { width: 140px; }
