{% autoescape false %}{% trans %}goto.respond.page{% endtrans %}:
  {{ showUrl }}


{% trans %}Title{% endtrans %}: {{ req.Title }}

{% trans %}LastAction{% endtrans %}: {{ hist.Actor.Name }}, {{ hist.ActionStr|trans({},'history') }}.

{% trans %}Message{% endtrans %}: {{ req.Description }}


{% for ext in hist.getExtra(DateFormat) %}
{{ hist.Actor.Name }}, {{ ext['msg']|trans(ext['vars'],'history') }}
{% endfor %}
{% trans %}txt.respond.delim{% endtrans %}

{% trans %}txt.respond{% endtrans %}:
  {{ showUrl }}
{% trans %}txt.respond.delim{% endtrans %}


{% trans %}DueDate{% endtrans %}: {{ req.DueDate|date(DateFormat) }}

{% trans %}Status{% endtrans %}: {{ req.TrafficLight.Title }}
{% trans %}Requestor{% endtrans %}: {{ req.Requestor.Name }}
{% trans %}Performer{% endtrans %}: {{ req.Performer.Name }}
{% if observers %}
{% trans %}Observers{% endtrans %}: {{ observers }}
{% endif %}

{% for category in req.categories %}
{{ category.Name }}: {% if category.Tag %}{{ category.Tag.Name }}{%
 else %}{% trans %}tag.no.value{% endtrans %}{% endif %}

{% endfor %}
{% if hasBudgetField %}
{% trans %}Budget{% endtrans %} {{ budgetUnit }}: {{ req.Budget }}
{% endif %}


-- 
{% trans with {'%emailTo%': unSubscribeAddress} %}unsubscribe%emailTo%{% endtrans %}

[CK{{ version.ver}}-r{{ version.revno }}]
{% endautoescape %}
