<html>
<body>
<table width="90%" border="0" align="center" bgcolor="#D5F1FF">
<tr valign="top"><td colspan="2">
<a href="{{ showUrl }}" border="0">
<img src="{{ replyImage }}" usemap="replymap"
  style="float: right; margin-right: 5em; margin-left:1em; border: 0;"
  alt="{% trans %}click.to.respond{% endtrans %}">
  <map name="replymap">
    <area shape="rect" coords="0,0,150,92" href="{{ showUrl }}" alt="{% trans %}click.to.respond{% endtrans %}" />
  </map>
</a>
<br>

<span style="color: #7D7D7D;">{% trans %}Title{% endtrans %}:</span>
{{ req.Title }}
<br><br>

<span style="color: #7D7D7D;">{% trans %}LastAction{% endtrans %}:</span>
<b>{{ hist.Actor.Name }}</b> {{ hist.ActionStr|trans({},'history') }}.
<br><br>

<span style="color: #7D7D7D;">{% trans %}Message{% endtrans %}:</span>
{{ hist.Description|raw }}
<br><br>

<table>
{% for ext in hist.getExtra(DateFormat) %}
<tr><td>
<b>{{ hist.Actor.Name }}</b> {{ ext['msg']|trans(ext['vars'],'history') }}
</td></tr>
{% endfor %}
</table>

<p>
<span style="color: #7D7D7D;">{% trans with {'%a_start%':
'<a href="' ~ showUrl ~ '" style="hover-color: yellow; color: blue;">'}
 %}html.respond%a_start%{% endtrans %}
</span>
<br>
</td></tr>
<tr><td colspan="2"><hr></td></tr>
<tr valign="top"><td colspan="2">
<span style="color: #7D7D7D;">{% trans %}DueDate{% endtrans %}:</span>
{{ req.DueDate|date(DateFormat) }}<br>
<br>
</td></tr>
<tr valign="top">
<td>
<span style="color: #7D7D7D;">{% trans %}Status{% endtrans %}:</span> {{ req.TrafficLight.Title }}<br>
<span style="color: #7D7D7D;">{% trans %}Requestor{% endtrans %}:</span> {{ req.Requestor.Name }}<br>
<span style="color: #7D7D7D;">{% trans %}Performer{% endtrans %}:</span> {{ req.Performer.Name }}<br>
{% if observers %}
<span style="color: #7D7D7D;">{% trans %}Observers{% endtrans %}:</span> {{ observers }}<br>
{% endif %}
</td><td>
{% for category in req.categories %}
<span style="color: #7D7D7D;">{{ category.Name }}:</span>
{% if category.Tag %}
{{ category.Tag.Name }}
{% else %}
{% trans %}tag.no.value{% endtrans %}
{% endif %}<br>
{% endfor %}
{% if hasBudgetField %}
<span style="color: #7D7D7D;">{% trans %}Budget{%
 endtrans %} {{ budgetUnit }}:</span> {{ req.Budget }}<br>
{% endif %}
</td>
</tr>
</table>
<table width="90%" border="0" align="center" bgcolor="#FFFFFF">
<tr><td style="font-size: 9pt;">{% trans with {'%emailTo%':
'<a href="mailto:' ~ unSubscribeAddress ~ '">' ~ unSubscribeAddress ~ '</a>'}
 %}unsubscribe%emailTo%{% endtrans %}</td></tr>
</table>
<p>
<span style="color: #FFF">[CK{{ version.ver}}-r{{ version.revno }}]</span>
</body>
</html>
