{% trans_default_domain "newuser" %}{% autoescape false %}
{% trans with {'%name%': newUser.FirstName} %}hello%name%{% endtrans %}


 {% trans with {'%creatorFullName%': creator.Name, '%creatorFirstName%': creator.FirstName} %}p1%creatorFullName%_%creatorFirstName%{% endtrans %}


 {% trans %}p2.part1{% endtrans %} {% trans %}p2.moreInfo.text{% endtrans %}


 {% trans %}p3{% endtrans %}


-- 
  {% trans %}signature{% endtrans %}

 {% trans %}email{% endtrans %}
{% endautoescape %}
