{% trans_default_domain 'newuser' %}
<html>
<body>
{% trans with {'%name%': newUser.FirstName} %}hello%name%{% endtrans %}

<p>
 {% trans with {'%creatorFullName%': creator.Name, '%creatorFirstName%': creator.FirstName} %}p1%creatorFullName%_%creatorFirstName%{% endtrans %}

<p>
 {% trans %}p2.part1{% endtrans %}
 {% trans %}p2.moreInfo.html{% endtrans %}

<p>
 {% trans %}p3{% endtrans %}

<p>
 {% trans %}signature{% endtrans %}<br>
<a href="mailto:{% trans %}email{% endtrans %}">{% trans %}email{% endtrans %}</a><br>
<span style="color: #FFF">[CK{{ version.ver}}-r{{ version.revno }}]</span>
</body>
</html>
