<h3><span class="ck-twistie" id="ck-twistie_attachments">&nbsp;</span>{% trans %}Attachments.label{% endtrans %} ({{ req.Attachments|length }}) {%
 if canEdit %}<span class="ck-accordion-right">
<a href="javascript:addAttacmentUpload('atta')" class="ck-attach-link">{% trans %}Attachments.add_atta{% endtrans %}</a>
<a href="javascript:addAttacmentUpload('link')" class="ck-link-link">{% trans %}Attachments.add_link{% endtrans %}</a>
</span>{%
 endif %}</h3>
<div class="ck-attachment_div_tb">
<script type="text/javascript" language="javascript"><!--
var attachmentIndex={{ req.newAttachments|length }};
//--></script>
<table>
{% for att in req.Attachments %}
<tr>
  <td><a href="{{ att.Url }}" target="_blank">{{ att.Name }}</a></td>{%
 if canEdit
 %}<td>
    <button type="button" onclick="toggleDeleteAttachment(this)"
            data-altval="{{ 'Undelete'|trans  }}">{%
      trans %}Delete{% endtrans
      %}</button>{{
    form_widget(form.attachments[loop.index0].delete) }}</td>
{% endif %}
</tr>
{% endfor %}
{% if canEdit %}
{% if form.attachments is defined and not (form.attachments|length) %}
{{ form_widget(form.attachments) }}
{% endif %}
{% macro delete() %}
<button type="button" onclick="deleteNewAttachment(this)">{%
 trans %}Delete{% endtrans
 %}</button>
{% endmacro %}
{% import _self as btn %}
{% for att_f in form.newAttachments %}
<tr>
  <td>{{ form_widget(att_f) }}{{ form_errors(att_f)}}</td>
  <td>
    {{ btn.delete() }}
  </td>
</tr>
{% endfor %}
<tr id="add_attachment"
data-prototype-atta="{{ form_widget(form.newAttachments.vars.prototype,{link:0})|e }}"
data-prototype-link="{{ form_widget(newAttachmentPrototype,{link:1})|e }}"
data-prototype-del="{{ btn.delete()|e }}"
>
<td colspan="2"></td>
</tr>
{% endif %}
</table>
{% if canEdit and (not (form.newAttachments|length)) %}
{{ form_widget(form.newAttachments) }}
{% endif %}
</div>
