{% extends 'CKBundle:Main:main_base.html.twig' %}

{% block heading %}
{% trans %}heading.details{% endtrans %}
{% endblock %}

{% block stylesheets %}
{% stylesheets
    '@CKBundle/Resources/public/css/main/jquery-ui-1.10.2.custom.css'
    '@CKBundle/Resources/public/css/main/main.css'
    '@CKBundle/Resources/public/css/main/button.css'
    '@CKBundle/Resources/public/css/main/autocomplete.css'
    '@CKBundle/Resources/public/css/main/jsDatePick_ltr.min.css'
    '@CKBundle/Resources/public/css/main/ddslick.css'
    '@CKBundle/Resources/public/css/main/form.css'
    '@CKBundle/Resources/public/css/main/table.css'
    output='css/cdetail.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block onload %}
{% if HasStatusUpdate %}
$('#commitment_statusUpdate').ddslick({
   embedCSS: false,
   background: '#fff',
   width:  '300px',
   onSelected: function (data) {
     $('.ck-progress-status').text(data.selectedData.description);
   }
});
{% endif %}

{% if canEdit %}
{% include 'CKBundle:Commitment:datepick.onload.twig' %}
{% endif %}

{% if hasSupportingRequests %}
var RT_table = new SortedTable('RT_table');
RT_table.onbodyclick = function(elm,e) {
  elm = SortedTable.findParent(elm,'tr');
  window.location.href = '{{ suppUrlPrefix }}' + elm.id;
}
RT_table.onbodydblclick = RT_table.onbodyclick;
{% endif %}
{% endblock %}

{% block javascripts %}
{% javascripts
    '@CKBundle/Resources/public/js/form/*'
    '@CKBundle/Resources/public/js/table/*'
    output='js/cdetail.js'
%}
<script language="javascript" type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% form_theme form 'CKBundle:Form:user_list.html.twig' %}

{% block rightcol %}
{% include 'CKBundle:Commitment:show.html.twig' %}
{% endblock %}
