{% extends 'CKBundle:Main:main_base.html.twig' %}

{% block heading %}
{% if superReq %}{{ ('heading.new.' ~ type ~ '.supporting')|trans }}{%
 else %}{{ ('heading.new.' ~ type ~ '.normal')|trans }}{% endif %}
{% endblock %}

{% block stylesheets %}
{% include 'CKBundle:Commitment:cssdef_form.html.twig' %}
{% endblock %}

{% block onload %}
{% include 'CKBundle:Commitment:datepick.onload.twig' %}
if (!("autofocus" in document.createElement("input"))) {
  $('input[autofocus]').focus();
}
{% endblock %}

{% block javascripts %}
{% javascripts
    '@CKBundle/Resources/public/js/form/*'
    output='js/form.js'
%}
<script language="javascript" type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% form_theme form 'CKBundle:Form:user_input.html.twig'
                   'CKBundle:Form:user_list.html.twig' %}

{% block rightcol %}
<form action="{{ form_action }}" method="post" {{ form_enctype(form) }}>
<table class="cc-formtable-new" cellspacing="0">

<!-- superReq -->
{% if superReq %}
<tr>
  <td>
    <span class="label">{% trans %}SuperRequest{% endtrans %}:</span>
    <a href="{{ superReqUrl }}">{{ superReq.title }}</a>
  </td>
</tr>
{% endif %}

<tr>
  <td class="ck-cd-2cols-equal" valign="top">
    <!-- title -->
    <div class="ck-new-req-title">
      <table>
        <tr>
          <td class="ck-new-req-label-title">
            <span class="label">{% trans %}Title{% endtrans %}:</span>
                        <span class="ck-required-red">*</span>
          </td>
          <td class="ck-new-req-field-title">
            {{ form_errors(form.title) }}
            {{ form_widget(form.title,{'attr':{'class':'title_input','autofocus':'autofocus'}}) }}
          </td>
        </tr>
      </table>
    </div>
    <div class="ck-people">
      <table>
        {% if type!='offer' %}
        <!-- performer -->
        <tr>
          <td class="ck-new-req-label-performer">
            <span class="label">{% trans %}Performer{% endtrans %}:</span>
                        <span class="ck-required-red">*</span>
          </td>
          <td class="ck-new-req-field-performer">
            {% if type=='request' %}
             {{ form_errors(form.performer) }}
             {{ form_widget(form.performer,
                {'formNewContact':formNewContactP,
                 'newContactUrl':newContactUrl}) }}
            {% else %}
             {{ req.performer.Name }}
            {% endif %}
          </td>
        </tr>
        {% else %}
        <!-- requestor -->
        <tr>
          <td class="ck-new-req-label-requestor">
            <span class="label">{% trans %}Requestor{% endtrans %}:</span>
          </td>
          <td class="ck-new-req-field-requestor" nowrap="nowrap">
            {{ form_errors(form.requestor) }}
            {{ form_widget(form.requestor,{'jsVar':'acUserEntity'}) }}
          </td>
        </tr>
        {% endif %}
        <tr>
          <!-- observers -->
          <td class="ck-new-req-label-observer">
            <span class="label">{% trans %}Observers{% endtrans %}:</span>
          </td>
          <td class="ck-new-req-field-observer">
            {% if canEditObservers %}
            {{ form_errors(form.observers) }}
            {{ form_widget(form.observers,
                           {'formNewContact':formNewContactO,
                            'newContactUrl':newContactUrl}) }}
            {% else %}
            {{ ObserverList|default('observer.none'|trans) }}
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
  </td>
  <td class="ck-cd-2cols-equal" valign="top">
        <!-- errors -->
         <div class="ck-error-area">
           {{ form_errors(form.newDueDate) }}
           {% if hasBudgetField %}{{ form_errors(form.newBudget) }}{% endif %}
                 </div>
    <table class="ck-new-request-top-right">
      <tr class="ck-date-hours">
        <!-- blank -->
        <td>&nbsp;</td>
        <!-- budget hours -->
        <td class="ck-new-req-budget">
{% if hasBudgetField %}
<span class="label">{% trans %}Budget{% endtrans %} {{ budgetUnit }}:</span>
{{ form_widget(form.newBudget) }}
{% endif %}
        </td>
        <!-- due date -->
        <td class="ck-new-req-duedate">
          <span class="label">{% trans %}DueDate{% endtrans %}:</span>
                        <span class="ck-required-red">*</span>
          {{ form_widget(form.newDueDate) }}
        </td>
      </tr>
      <tr>
        <!-- Categories -->
{% if canEditCategoryValues %}
  {% for category in form.categories %}
        <td class="ck-cd-3cols-equal label">{{ form_label(category) }}</td>
  {% else %}
        <td>{{ form_widget(form.categories) }}</td>
  {% endfor %}
{% else %}
  {% for category in req.categories %}
        <td class="ck-cd-3cols-equal label">{{ category.Name }}</td>
  {% endfor %}
{% endif %}
      </tr>
{% if canEditCategoryValues %}
      <tr class="ck-tags">
        {% for category in form.categories %}
        <td>
          {{ form_widget(category) }}
          {{ form_errors(category) }}
        </td>
        {% endfor %}
      </tr>
      <tr>
        <!-- Categories errors -->
        <td colspan="{{ form.categories|length }}">{{ form_errors(form.categories) }}
        </td>
      </tr>
{% else %}
      <tr>
        {% for category in req.categories %}
        <td>
          {% if category.Tag %}
          {{ category.Tag.Name }}
          {% else %}
          {% trans %}tag.no.value{% endtrans %}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
{% endif %}
    </table>
  </td>
</tr>

<tr>
  <!-- description -->
  <td class="ck-description-area">
    {{ form_label(form.description) }}<span class="label">:</span>
                        <span class="ck-required-red">*</span>
    {{ form_errors(form.description) }}
    {{ form_widget(form.description,{'attr':{'rows':12}}) }}
  </td>
  <td class="ck-attachment-area" valign="bottom">
    <!-- attachments -->
    {% include 'CKBundle:Commitment:attachments.html.twig' with {'canEdit':true} %}
    <div class="ck-cd-form-buttons">
      <input name="send" type="submit" class="ck-cd-form-input-send"
             value="{{ 'submit.commitment.new'|trans }}" />
      <div class="ck-cd-form-input-cc">
        {{ form_widget(form.CCme) }}{{ form_label(form.CCme) }}{{ form_errors(form.CCme) }}
      </div>
      <a class="ck-cd-form-input-cancel" href="{{ returnUrl }}">{% trans %}Cancel{% endtrans %}</a>
      {{ form_rest(form) }}
    </div>
  </td>
</tr>
<tr>
  <td colspan="2">
    <span class="ck-required-footer">
      (<span class="ck-required-red">*</span>){{ ('footer.required.' ~ type)|trans }}
    </span>
  </td>
</tr>
</table>
</form>
{% endblock %}
