{% if noAccess %}
<span class="errortext">
{% trans with {'%reqId%': reqId} %}noCommitment.notAuthorized%reqId%{% endtrans %}
</span>
{% else %}
{% if reqId > 0 %}
<span class="errortext">
{% trans with {'%reqId%': reqId} %}noCommitment.notExist%reqId%{% endtrans %}
</span>
{% else %}
{% trans %}noCommitment.default{% endtrans %}
{% endif %}
{% endif %}
