<script type="text/javascript" language="javascript"><!--
var HasStatusUpdate = {{ HasStatusUpdate ? 1 : 0 }};
//--></script>
<form id="c_detail" action="{{ form_action }}" method="post" {{ form_enctype(form) }}>
<table class="ck-commitment-form-table" cellspacing="0" width="100%">

<tr>
  <td class="ck-cd-header" colspan="2">
    <div class="commitment-status">
      {% if HasStatusUpdate %}
      <div  class="commitment-status-update" id="showStatusUpdate"{% if not cssDisplayStatusUpdate %} style="display: none"{% endif %}>
      {{ form_widget(form.statusUpdate) }}{{ form_errors(form.statusUpdate) }}
      </div>
      {% endif %}
      <div class="commitment-status-icon" id="showStatusIcon"{% if cssDisplayStatusUpdate %} style="display: none"{% endif %}>
      <img src="{{asset(trafficLight.ImageUri)}}" alt="{{trafficLight.Title}}" title="{{trafficLight.Title}}">
      </div>
    </div>
    <div class="commitment-title">
      <h2>{{ req.Title }}</h2>
      <div class="ck-progress-area">
        <div class="ck-progress">
          <div class="ck-progress-step{{ req.activeStep(1) }}">&nbsp;</div>
          <div class="ck-progress-step{{ req.activeStep(2) }}">&nbsp;</div>
          <div class="ck-progress-step{{ req.activeStep(3) }}">&nbsp;</div>
          <div class="ck-progress-step{{ req.activeStep(4) }}">&nbsp;</div>
        </div>
        <span class="ck-progress-status">{{ StatusMessage|trans }}</span>
      </div>
    </div>
    <div class="ck-cd-topright">
        <div class="ck-cd-topright-return-list">
            {% trans with {'%aStart%': '<a href="' ~ returnUrl ~ '">', '%aEnd%': '</a>'} %}topright.return%aStart%_%aEnd%{% endtrans %}
        </div>

          {% if superReqTitle %}
        <div class="ck-cd-topright-return-parent">
                  <span class="label">{% trans %}SuperRequest{% endtrans %}:</span>
                  {% if superReqUrl %}
                  <a href="{{ superReqUrl }}">{{ superReqTitle }}</a>
                  {% else %}
                  {{ superReqTitle }}
                  {% endif %}
                </div>
          {% endif %}
    </div>
  </td>
</tr>

<tr>
  <td colspan="2" class="ck-row-sep">
    <hr />
  </td>
</tr>

<tr>
  <td class="ck-cd-2cols-equal">
    <div class="ck-people">
      <table width="100%">
        <tr>
          <td class="ck-cd-label-col-left label">{% trans %}Requestor{% endtrans %}:</td>
          <td class="ck-cd-field-col-right">{{ req.requestor.Name }}</td>
        </tr>
        <tr>
          <td class="label">{% trans %}Performer{% endtrans %}:</td>
          <td class="ck-cd-field-col-right">{{ req.performer.Name }}</td>
        </tr>
        <tr>
          <td class="label">{% trans %}Observers{% endtrans %}:</td>
          <td class="ck-cd-field-col-right">
            {% if canEditObservers %}
            {{ form_errors(form.observers) }}
            {{ form_widget(form.observers,
                           {'attr':{'class':'observers_table'},
                            'formNewContact':formNewContact,
                            'newContactUrl':newContactUrl}) }}
            {% else %}
            {{ ObserverList|default('observer.none'|trans) }}
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
  </td>
  <td class="ck-cd-2cols-equal">
    <table width="100%">
      <tr>
        <td>
{% if hasBudgetField %}
<span class="label">{% trans %}Budget{% endtrans %} {{ budgetUnit }}:</span>
<span id="showBudget" class="{{ cssShowDate }}">{{ req.Budget }}</span>
{% if canEdit %}
<span id="showNewBudget" class="{{ cssEditDate }}">{{
 form_widget(form.newBudget) }}{{ form_errors(form.newBudget)
 }}</span>
{% endif %}
{% endif %}
        </td>
        <td>
{% if req.Delivered %}
          <span class="label">{% trans %}Delivered{% endtrans %}:</span>
          <span id="showDelivered">{{ req.Delivered|date(DateFormat) }}</span>
{% endif %}
        </td>
        <td>{% if canEdit %}{{ form_errors(form.newDueDate) }}{% endif %}
          <div>
            <span class="label">{{ DateLabel|trans }}:</span>
            <span id="showDueDate" class="{{ cssShowDate }}">{{ Date }}</span>{%
   if canEdit %}<span id="showNewDate" class="{{ cssEditDate }}">{{
              form_widget(form.newDueDate, {'attr':{'class':'date_input'}}) }}</span>{% endif %}
          </div>
        </td>
      </tr>
      <tr>
        <!-- Categories -->
{% if canEditCategoryValues %}
  {% for category in form.categories %}
        <td class="ck-cd-3cols-equal label">{{ form_label(category) }}:</td>
  {% else %}
        <td>{{ form_widget(form.categories) }}:</td>
  {% endfor %}
{% else %}
  {% for category in req.categories %}
        <td class="ck-cd-3cols-equal label">{{ category.Name }}:</td>
  {% endfor %}
{% endif %}
      </tr>
{% if canEditCategoryValues %}
      <tr class="ck-tags">
        {% for category in form.categories %}
        <td>
          {{ form_widget(category) }}{{ form_errors(category) }}
        </td>
        {% endfor %}
      </tr>
      <tr>
        <!-- Categories errors -->
        <td colspan="form.categories|length">{{ form_errors(form.categories) }}</td>
      </tr>
{% else %}
      <tr>
        {% for category in req.categories %}
        <td class="showCatagories">
          {% if category.Tag %}
          {{ category.Tag.Name }}
          {% else %}
          {% trans %}tag.no.value{% endtrans %}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
{% endif %}
    </table>
  </td>
</tr>

<tr>
  <td colspan="2" class="ck-row-sep">
    <hr />
  </td>
</tr>

<tr>
  <td class="ck-cd-history-header">
    <span class="label">{% trans %}History{% endtrans %}:</span>
    <button class="sort" type="button" id="ck_history_views">{% trans from 'javascript' %}history.view.toFull{% endtrans %}</button>
    <button class="sort" type="button" id="ck_history_sort">{% trans from 'javascript' %}history.sort.ascending{% endtrans %}</button>
  </td>
  <td class="ck-cd-next-action-header">
    {% if (form.action|length)>0 %}{{ form_label(form.action) }}{% endif %}
  </td>
</tr>
<tr>
  <td>
    <div id="history_list" class="ck-cd-history-area">
      {% for hist in history %}
      {% include 'CKBundle:Commitment:history_item.html.twig' %}
      {% endfor %}
    </div>
  </td>
  <td class="ck-cd-action-area">
    {% if (form.action|length)>0 %}
    <div class="ck-cd-actions">
      {{ form_widget(form.action) }}{{ form_errors(form.action) }}
    </div>
    <div class="ck-cd-comment-metadata">
      <span class="ck-cd-history-item-details-date">{{ currentDate }}</span>&nbsp;
      <span class="ck-cd-history-item-details-person">{{ UserName }}</span>&nbsp;
      <span class="ck-cd-history-item-details-role">({{ actorRole|trans({},'history') }})</span>&nbsp;
      <span id="current-action" class="ck-cd-history-item-details-action">{{ currentAction|trans({},'presenttense') }}:</span>
    </div>
    <div class="ck-cd-comment-field">
      {{ form_errors(form.description) }}
      {{ form_widget(form.description,{'attr':{'rows':'7'}}) }}
    </div>
    <div class="ck-cd-form-buttons">
      <input name="send" type="submit" class="ck-cd-form-input-send" value="{{
              'submit.commitment'|trans }}" />
      <div class="ck-cd-form-input-cc">
        {{ form_widget(form.CCme) }}{{ form_label(form.CCme) }}{{ form_errors(form.CCme) }}
      </div>

      <a class="ck-cd-form-input-cancel" href="{{ returnUrl }}">{% trans %}Cancel{% endtrans %}</a>
    </div>
    {% endif %}
  </td>
</tr>

<tr>
  <td colspan="2" class="ck-row-sep">
    <hr />
  </td>
</tr>

<tr>
  <td colspan="2">
    <div id="bottom-accord">
      <h3><span class="ck-twistie" id="ck-twistie_supporting">&nbsp;</span>{% trans %}SuppRequests{% endtrans %} ({{ req.SupportingRequests|length }}) {% if canAddSupportingRequest %}<span class="ck-accordion-right"><a href="{{ newSuppReqUrl }}" class="ck-create-link">{% trans %}SuppRequests.add{% endtrans %}</a></span>{% endif %}</h3>
      <div class="bottom-content">
{% if hasSupportingRequests %}
{% include 'CKBundle:Table:table.html.twig' %}
{% endif %}
      </div>
{% include 'CKBundle:Commitment:attachments.html.twig' %}
    </div>
  </td>
</tr>
</table>
{{ form_rest(form) }}
</form>
