/**
*Auto complete related
*/
.ac_results {
        padding: 0px;
        border: 1px solid #7FB7FB;
        overflow: hidden;
        background-color: #AFD2FD;
}

.ac_results ul {
        width: 100%;
        list-style-position: outside;
        list-style: none;
        padding: 0;
        margin: 0;
}

.ac_results iframe {
        display:none;/*sorry for IE5*/
        display/**/:block;/*sorry for IE5*/
        position:absolute;
        top:0;
        left:0;
        z-index:-1;
        filter:mask();
        width:3000px;
        height:3000px;
  
}

.ac_results li {
        margin: 0px;
        padding: 2px 5px;
        cursor: pointer;
        display: block;
        width: 100%;
        font: menu;
        font-size: 12px;
        overflow: hidden;
  
}

.ac_loading {
        background : #AFD2FD url('img/loader.gif') right center no-repeat;
}

.ac_over {
        background-color: white;
        color: black;
}

/* register_newopenid.css */
html, body {
    margin: 0;
    padding: 0;
    background: url("/images/bg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: 100% 100%;
    -o-background-size: cover; background-size: cover;
}

#wrapper {
    margin: 0 auto;
    width: 1024px;
}

#commitkeeper {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 65px;
    width: 620px;
    box-shadow: 3px 3px 10px #404040;
}

#register {
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 10px #000;
    -webkit-box-shadow: -5px -5px 10px #ccc inset, 3px 3px 10px #000;
    -moz-box-shadow: 3px 3px 10px #000;
    -moz-box-shadow: -5px -5px 10px #ccc inset, 3px 3px 10px #000;
    box-shadow: 3px 3px 10px #000;
    box-shadow: -5px -5px 10px #ccc inset, 3px 3px 10px #000;

    width: 800px;
    padding: 5px 10px 20px 10px;
    margin-bottom: 20px;
}

#left {
    float: left;
    width: 335px;
    padding: 0px 10px 0px 5px;
}

#right {
    float: right;
    width: 405px;
    padding: 0px 5px 0px 5px;
    text-align: center;
}

img {
    border: 0 none;
}

p,
td {
    color: #000;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 18px;
    margin-bottom: 10px;
}

tr {
    vertical-align: middle;
}

.label {
    text-align: right;
    padding-right: 5px;
}

a:link,
a:visited,
a:active {
    color: #0000a1;
    text-decoration: underline;
}

a:hover {
    color: #7787bc;
    text-decoration: none;
}

#left input[type=text],
#left input[type=email],
#left input[type=password] {
    border: 1px solid #808080;
    padding: 5px;
    width: 200px;
}

#right input[type=text] {
    border: 1px solid #808080;
    padding: 5px;
    width: 250px;
    text-align: center;
}


a.buttonlink:link,
a.buttonlink:visited,
input[type=submit] {
    padding: 3px 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: normal;
    border: 1px solid #767676;
    border-radius: 5px;
    background-color: #cfcfcf;
    background: url('/images/top_panel_bg.png');
    background-repeat: repeat-x;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#767676));
    background: -webkit-linear-gradient(top, #ffffff, #767676);
    background: -moz-linear-gradient(top, #ffffff, #767676);
    background: -ms-linear-gradient(top, #ffffff, #767676);
    background: -o-linear-gradient(top, #ffffff, #767676);
    text-decoration: none;
    margin-bottom: 5px;
    cursor: pointer;
}

a.buttonlink:hover, input[type=submit]:hover {
    background-color: #fff;
}
