html{
    background-color:#CCC !important;
}

body {
    margin:0 auto;
    padding:0;
    border:0; /* This removes the border around the viewport in old versions of IE */
    width: 1280px;
    background-color:#fff !important;
    min-width:600px;    /* Minimum width of layout */
    font-family:Helvetica, Arial, sans-serif; 
    font-size: 13px;
    border: 1px solid #CCC;
}

/* BANNER */ 
#ck-header {
        margin:0px;
        height:100px;
        background-image: url("/images/commitkeeper-bannerbg-repeat.png");
        background-color:#0398c2;
        background-repeat: repeat-x;
        background-position:0px 0px;
}
#ck-header .ck-logo { 
        margin: 4px 20px 5px 20px; 
        display:inline-block;
        }
#ck-banner { 
        height:50px;
        background: #cecece url('/images/headerbg.png') top left repeat-x; 
        color:#888; 
        margin:0px; 
        width:100%;
        position:relative;
}       
#ck-bannertitle { 
        background-image:url('/images/commitkeeper-bannerbg.png');
        background-color: transparent;
        background-repeat:no-repeat; 
        background-position:0px -50px; 
        color:#fff; 
        margin:0px;
}       
.ck-bannertitle-shadowtop { 
        height:10px; 
        background-image:url('/images/shadow-top.png'); 
        background-repeat: repeat-x; 
        background-position: left top;  
        margin:0px; 
        display:block; 
}
.ck-bannertitle-shadowbottom { 
        height:10px; 
        background-image:url('/images/shadow-bottom.png'); 
        background-repeat: repeat-x; 
        background-position: left bottom;  
        margin:0px; 
        display:block; 
}
#ck-bannertitle h2 { 
        margin:8px 0px 0px 22px; 
        display:block; 
        padding:0;
        font-size:18px;
        text-transform:uppercase; 
        font-weight:normal;
        text-shadow: 1px 1px 1px #000;
        color:#fff; 
}

/* Taller Banner - Begin */
#ck-header { height:auto; }
#ck-bannertitle { height:70px; }
#ck-bannertitle h2 { margin-top:28px; height: 21px; }
.ck-bannertitle-shadowbottom {  }
/* Taller Banner - End */

/* TOP BUTTONS */ 
.ck-seperator { 
        width: 1px; 
        background-color:#9a9a9a; 
        border:0px;  
        border-right: 1px #fff solid;
        height:50px;
        display:inline-block; 
        margin:0px; 
}
.ck-topbuttons {
        display:inline-block; 
        margin:0px; 
}
.ck-topbuttons ul, 
.ck-topbuttons li {
        padding:0px; 
        margin:0px; 
        display:inline-block;
}
.ck-topbuttons ul {
        margin:5px 10px 10px 10px;
}
.ck-topbuttons li {
        float:left;
        padding:5px 6px; 
        background: #c6c6c6 url('/images/btn-bg-off.png') 0px 0px repeat-x; 
}
.ck-topbuttons li:hover {
        background: #e7e7e7 url('/images/btn-bg-on.png') 0px 0px repeat-x; 
}
.ck-topbuttons .ck-seperator {
        display:inline-block; 
        margin:0px; 
}
.ck-topbutton {
        display:inline-block; 
        border:1px #808080 solid; 
        margin:0px; 
        white-space:nowrap; 
}
.ck-topbuttons a, 
.ck-topbuttons a:link, 
.ck-topbuttons a:active, 
.ck-topbuttons a:visited, 
.ck-topbuttons a:hover {
        color:#333;
        text-decoration:none;
        text-shadow: 1px 1px 1px #fff;
        display:inline-block;
        margin:0px 0px 0px 0px;
        padding:0px 0px 0px 0px;
        text-transform:uppercase;
        font-size:.9em; 
}
.ck-topbuttons a:hover { 
        color:#000; 
        text-shadow: 1px 1px 1px #fff; 
}

/* TOP ACTIONS */ 
.ck-topactions {
        display:inline-block;
        margin:5px 0px 0px 0px;
        float:right;
}
.ck-topactions ul, 
.ck-topactions li {
        padding:0px; 
        margin:0px; 
        display:inline-block;
}
.ck-topactions ul {
        margin:5px 10px 10px 10px;
}
.ck-topactions li {
        float:left;
        padding:6px; 
        background-position:0px 4px;
        background-repeat:no-repeat;   
}
.ck-topactions li:hover { 
}
.ck-topaction {
        display:inline-block; 
        margin:0px; 
        white-space:nowrap; 
}
.ck-topactions a { 
        margin:0px 12px 0px 15px;
        padding:0px 0px 0px 0px;
}

.ck-topactions a:link, 
.ck-topactions a:active, 
.ck-topactions a:visited, 
.ck-topactions a:hover {
        color:#666;
        text-decoration:none;
        text-shadow: 1px 1px 1px #fff;
        display:inline-block;
        text-transform: capitalize;
        font-size: 12px;
}
.ck-topactions a:hover { 
        color:#000; 
        text-shadow: 1px 1px 1px #fff; 
}
.request { 
        -webkit-border-top-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; 
        border-right-width:0px;
}
.offer { 
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;     }
.todo {
        -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; 
        border-left-width:0px;
}
li.reports {
    background-image:url('/images/icon-reports.png'); 
}
li.print {
    background-image:url('/images/icon-print.png'); 
}
li.help {
    background-image:url('/images/icon-help.png');
}

li.prefs {
    background-image:url('/images/icon-gear.png');
}

li.logout {
    background-image:url('/images/icon-logout.png');
}

.ck-username { 
        color: #666;
        display:inline-block;
        vertical-align: top;
        margin: 10px 10px 10px 15px;
        padding: 3px 5px 2px 5px;
        text-decoration:none;
        text-shadow: 1px 1px 1px #fff;
        font-size: 22px;
}
.ck-username a { 
}
.ck-username a:link, 
.ck-username a:active, 
.ck-username a:visited, 
.ck-username a:hover { 
        color: #06C; 
        text-decoration:none;
        padding:0px 3px 0px 3px; 
}
.ck-username a:hover { 
        color:#000; 
}

.ck-username .email {
        font-size: 12px;
}

iframe {
    width: 100%;
    height: 100%;
    min-height: 100%;
    border: 0;
}

/* Footer styles */
#footer {
    background-image: url('/images/footerbg.png');
    background-position: right top;
    background-repeat: no-repeat;
}

.new-commitment #footer {
    background-image: url('/images/footerbg2.png');
}

#footerbg {
    clear:both;
    float: left;
    width: 100%;
    background-color: #0092C1;
    background-image: url('/images/footerbg-repeat.png');
    background-position: left top;
    background-repeat: repeat-x;
}

/*  Legend  */
#ck_legend {
        display: block;
        margin-left: 10px;
        width: 500px;
        float: left;
}


#ck_legend tbody tr td {
        color: rgb(230,235,238);
        padding: 4px 5px 5px 5px;
        text-align: center;
        background-color: rgba(255,255,255,.1)
}

#ck_legend tbody tr td img{
        margin-top: 5px;
}

#ck_copyright {
        text-align: right;
        color: rgb(230,235,238);        
        width: 200px;
        float: right;
        margin-right: 10px;
        margin-top: 25px;
}
#ck_copyright a {
        color: rgb(230,235,238);
        text-decoration: none;                  
}
#ck_copyright a:hover {
        text-decoration: underline;             
}

.new-commitment #ck_copyright {
    margin-top: 0px;
}

.new-commitment #ck_legend {
    display: none;
}

#footer .ck-bannertitle-shadowbottom {
        clear: both;
}

.errortext
{
   color: red;
}

/* TOP TABS */ 

.ck-toptab-area { 
        float:right; 
        display:inline-block; 
        margin:-27px 0px 0px 0px;
}
.ck-toptab-area ul { 
        margin:0px;
        padding:0px;
}
.ck-toptab-area li { 
        margin:0px;
        padding:0px; 
        display:inline-block; 
}
.ck-toptab-area li.ck-toptab { 
        height:37px; 
        margin:0px 0px 0px -5px;
        float:left;  
}
.ck-toptab div { 
        height:37px; 
        float:left;  
        display:inline-block; 
        color:#666; 
        font-size:14px;
        text-transform: capitalize; 
        font-weight:normal;
        cursor:pointer;
}
.ck-toptab div .count { 
        font-size:14px; 
}
.ck-toptab-area li.normal { 
        z-index: auto;
        elevation: inherit; 
}
div.ck-toptab-area ul li.active { 
        position: relative;
        z-index:1; 
        elevation: above !important; 
        top: 1px;
}
.ck-toptab-left { 
        height:37px; 
        width:11px; 
        margin:0px;
        padding:0px; 
        background: transparent url("/images/tab-off-left.png") left top no-repeat; 
}
.ck-toptab-name { 
        height:37px; 
        width:auto; 
        margin:0px;
        padding:12px 4px 10px 4px; 
        background: transparent url("/images/tab-off-repeat.png") left top repeat-x; 
}
.ck-toptab-name a:link, 
.ck-toptab-name a:visited { 
        color:#666; 
        text-decoration:none; 
}
.ck-toptab-name a:active { 
        color:#000; 
        text-decoration:none; 
}
.ck-toptab-name a:hover { 
        color:#000; 
        text-decoration:none; 
}

.ck-toptab-right { 
        height:37px; 
        width:11px; 
        margin:0px;
        padding:0px; 
        background: transparent url("/images/tab-off-right.png") left top no-repeat; 
}
.active .ck-toptab-left { 
        background: url("/images/tab-on-left.png") left top no-repeat; 
}
.active .ck-toptab-name { 
        background: url("/images/tab-on-repeat.png") left top repeat-x; 
        color:#000;
}
.active .ck-toptab-right { 
        background: url("/images/tab-on-right.png") left top no-repeat; 
}
.ck-version {
        display:inline-block; 
        margin:0px; 
        left: 70px;
        bottom: 0px;
        position: absolute;
}
.ck-version .ck-versionlabel { 
        display:inline-block; 
        margin:0px 0px 0px 0px; 
        padding:0px 0px 0px 0px; 
        color:#999; 
        font-size:.7em; 
}
.ck-version div.ck-seperator { 
        margin:0px; 
}


/*  Welcome Message */ 
#ck_welcomeMsg {
        border: 1px solid; 
        border-color: #006CA0; 
        background-color: #E0FAFC;
        margin: 0px auto 30px auto;
        box-shadow: 10px 10px 5px #888888;
}

/* Button */
input[type=button] {
	height: 26px;
}
input[type=submit] {
	height: 31px;
}
INPUT[type='text'], INPUT[type='email'], TEXTAREA, select {
	background-image: url('/images/form-textinputbg.png');
	background-position: top left;
	background-repeat: repeat-x;
	border: 1px solid #999;
	padding: 3px;
}
INPUT[type='text']:focus, TEXTAREA:focus, INPUT[type='text']:active, TEXTAREA:active, select:active, select:focus {
	border: 1px solid #29abe2;
}
INPUT[type='text'], INPUT[type='email'], select {
	height: 25px;
}
INPUT:invalid {
	box-shadow: none;
}

button.ck-cd-form-input-send:hover, input[type=button].ck-cd-form-input-send:hover, input[type=button].ck-cd-form-input-send:focus, input[type=submit].ck-cd-form-input-send:hover, input[type=submit].ck-cd-form-input-send:focus {
	cursor: pointer;
}

.ck-cd-form-input-cc {
	float: right;
	margin: 5px 5px;
	font-size: 12px;
}
.ck-cd-form-input-cancel {
	float: left;
	font-size: 11.7px !important;
	text-decoration: none;
	color: black;
	border: 1px solid #999;
	border-radius: 4px;
	padding: 5px;
}
.ck-cd-form-input-send {
	float: right;
	font-size: 11.7px;
	color: black;
	border-radius: 4px;
	border: 1px solid #999;
	height: 24px !important;
	background-color: white;
}

select {
	width: 96%;
}
