<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
  <meta charset="UTF-8" />
  {% block head_extra %}{% endblock %}
  <title>{% block title %}{% trans from 'messages' %}CommitKeeper{% endtrans %}{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  {% block stylesheets %}{% endblock %}
  {% block main_javascripts %}{% endblock %}
  {% block javascripts %}{% endblock %}
</head>
<body{% if HasOnload is defined and HasOnload %} onload="initpage();"{% endif %}>
{% block body %}{% endblock %}
{% if HasOnload is defined and HasOnload %}
<script language="javascript" type="text/javascript"><!--
function initpage() {
{% block onload %}{% endblock %}
}
//--></script>
{% endif %}
</body>
</html>
