/* login.css */
html, body {
    margin: 0;
    padding: 0;
    background: url('/images/bg2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: 100% 100%;
    -o-background-size: cover;
    background-size: cover;
}

#wrapper {
    margin: 0 auto;
    width: 1024px;
}

#commitkeeper {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 65px;
    width: 620px;
    box-shadow: 3px 3px 10px #404040;
}

.pwdlogin {
    width: 290px;
    margin-top: 4px;
    margin-bottom: 4px;
}

img {
    border: 0 none;
}

tr {
    vertical-align: middle;
}

td {
    color: #000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 4px;
    padding-bottom: 4px;
}

td.first {
    text-align: right;
    padding-right: 8px;
}

a:link,
a:visited,
a:active {
    color: #0000a1;
    text-decoration: underline;
}

a:hover {
    color: #7787bc;
    text-decoration: none;
}

.log_out {
    white-space: nowrap;
}

a.buttonlink:link,
a.buttonlink:visited,
input.forgot_password {
    padding: 3px 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: normal;
    border: 1px solid #767676;
    border-radius: 5px;
    background-color: #cfcfcf;
    background: url('/images/top_panel_bg.png');
    background-repeat: repeat-x;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#767676));
    background: -webkit-linear-gradient(top, #ffffff, #767676);
    background: -moz-linear-gradient(top, #ffffff, #767676);
    background: -ms-linear-gradient(top, #ffffff, #767676);
    background: -o-linear-gradient(top, #ffffff, #767676);
    text-decoration: none;
    margin-bottom: 5px;
}

a.buttonlink:hover {
    background: #fff;
}

input[type=text],
input[type=password] {
    border: 1px solid #808080;
    padding: 5px;
    width: 240px;
}

.login_submit {
    padding: 5px 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: normal;
    border: 1px solid #767676;
    border-radius: 10px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#767676));
    background: -webkit-linear-gradient(top, #ffffff, #767676);
    background: -moz-linear-gradient(top, #ffffff, #767676);
    background: -ms-linear-gradient(top, #ffffff, #767676);
    background: -o-linear-gradient(top, #ffffff, #767676);
}

div.error
{
    color: red;
    text-align: center;
}

.whitebox {
    width: 350px;
    padding: 10px 20px;
    margin-top: 0px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

.whitebox,
.janrainContent {
    background: #fff;
    border: 0px !important;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 10px #000;
    -webkit-box-shadow: -5px -5px 10px #ccc inset, 3px 3px 10px #000;
    -moz-box-shadow: 3px 3px 10px #000;
    -moz-box-shadow: -5px -5px 10px #ccc inset, 3px 3px 10px #000;
    box-shadow: 3px 3px 10px #000;
    box-shadow: -5px -5px 10px #ccc inset, 3px 3px 10px #000;
}

.janrainContent {
    padding-left:  20px !important;
    padding-right: 20px !important;
}

div#janrainProviderPages {
    left: 20px !important;
}

div#janrainEngageEmbed {
    width: 390px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
