{% extends '::base.html.twig' %}
{% trans_default_domain 'registration' %}

{% block stylesheets %}
{% stylesheets
    '@CKBundle/Resources/public/css/admin/confirm.css'
    output='css/confirm.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{% javascripts
    '@CKBundle/Resources/public/js/login/*'
    output='js/login.js'
%}
<script language="javascript" type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script language="javascript" type="text/javascript"><!--
janrain = {};
janrain.settings = {};
janrain.settings.actionText = ' ';
janrain.settings.width = '378';
setupJainRainLogin('{{ this_url }}');
//--></script>
{% endblock %}

{% block body %}
<div id="wrapper">
  <img id="commitkeeper" src="/images/login_banner2.png" alt="{% trans from 'messages' %}CommitKeeper{% endtrans %}">

  <div id="connect">
    <p style="text-align: center;"><strong>{% trans %}confirm.heading1{% endtrans %}</strong><br />
<strong>{% trans %}confirm.heading2{% endtrans %}</strong></p>
    <div id="left">
<p style="text-align: right;">{% trans %}confirm.heading3.left{% endtrans %}</p>
<form action="{{ this_url }}" method="post" {{form_enctype(form)}}>
<table border="0" cellpadding="0" cellspacing="5">
  <tr>
    <td class="label">{% trans from 'messages' %}user.email.long{% endtrans %}</td>
    <td><input type="text" readonly="readonly" value="{{ user.Email }}" /></td>
  </tr>
  {% for child in form.password %}
  <tr>
    <td class="label">{{ form_label(child) }}</td>
    <td>{{ form_widget(child) }}</td></tr>
  {% endfor %}
  <tr><td colspan="2">{{ form_errors(form) }}{{ form_errors(form.password) }}</td></tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="{% trans %}confirm.button{% endtrans %}" /></td>
  </tr>
</table>
{{ form_rest(form) }}
</form>
    </div>

    <div style="padding: 0px 5px; float: left; text-align: center;"><p><strong>{% trans %}confirm.heading3.or{% endtrans %}</strong></p></div>

    <div id="right">
<p>{% trans %}confirm.heading3.right{% endtrans %}:</p>
<div id="janrainEngageEmbed"></div>
{% if oidErrMsg %}
{% from 'CKBundle:Translation:macros.html.twig' import translate %}
<span class="error">{{ translate(oidErrMsg, 'validators') }}</span>
{% endif %}
    </div>

    <div style="clear: both;"></div>
  </div>
</div>
{% endblock %}
