{% set person=form.username %}
<table style="margin-left:0;margin-right:2em">
<tr>
  <td align="right">{{ form_label(person.lastName) }}</td>
  <td>{{ form_widget(person.lastName, {'attr': {'size':'50'} }) }}
    {{ form_errors(person.lastName) }}</td>
</tr><tr>
    <td align="right">{{ form_label(person.firstName) }}</td>
    <td>{{ form_widget(person.firstName, {'attr': {'size':'50'} }) }}
      {{ form_errors(person.firstName) }}</td>
</tr><tr>
    <td align="right">{{ form_label(person.email) }}</td>
    <td>{{ form_widget(person.email, {'attr': {'size':'50'} }) }}
{% if ac_email_list is defined %}
<script type="text/javascript" language="javascript"><!--
$('#{{ person.email.vars.id }}').autocompleteArray({{ ac_email_list|raw }},{{ ac_options|raw }});
//--></script>
{% endif %}
{{ form_errors(person.email) }}</td>
</tr>
<tr><td colspan="2">{{ form_label(form.openIdentifier) }}
    {{ form_errors(form.openIdentifier) }}</td></tr>
{% for oid in form.openIdentifier %}
<tr>
  <td>{{ form_widget(oid.keep) }}{{ form_errors(oid.keep) }}</td>
  <td>{{ form_widget(oid.provider) }}{{ form_errors(oid.provider) }}</td>
</tr>
{% else %}
<!--    {{ form_widget(form.openIdentifier) }} -->
{% endfor %}
<tr>
  <td>{{ form_widget(form.keep) }}{{ form_errors(form.keep) }}</td>
  <td>
    <table>
      <tr><td>{{ form_label(form.passwordinput.password) }}
          {{ form_errors(form.passwordinput.password) }}</td>
        <td>
          {% for child in form.passwordinput.password %}
          {{ form_row(child) }}
          {% endfor %}
      </td></tr>
    </table>
  </td>
</tr>
</table>
