<form id="regform" action="{{ form_action }}" method="post" {{form_enctype(form)}}>
<h2>{% trans with {'%aLoginStart%': '<a href="' ~  path('login') ~ '">', '%aEnd%': '</a>'} from 'registration'
    %}form.leftHeading%aLoginStart%_%aEnd%{% endtrans %}</h2>

<div class="inputname">
  {{ form_errors(form) }}{% set person=form.username %}
  <table border="0" cellpadding="2" cellspacing="0" width="450">
    <tr>
      <td class="name-label label">{% trans %}user.registration.name{% endtrans %}:</td>
      <td id="name-widget" class="name-widget">{{ form_widget(person.firstName,{'attr':{'placeholder':'user.firstName.short'|trans,'tabindex':1}}) }}{{ form_errors(person.firstName) }} &nbsp; {{ form_widget(person.lastName,{'attr':{'placeholder':'user.lastName.short'|trans,'tabindex':2}}) }}{{ form_errors(person.lastName) }}</td>
    </tr>
    <tr>
      <td class="label">{% trans %}user.email.long{% endtrans %}:</td>
      <td>{{ form_widget(person.email,{'attr':{'tabindex':3}}) }}{{ form_errors(person.email) }}</td>
    </tr>
  </table>
</div>

<div class="authalternatives">
{{ form_errors(form.passwordinput.password) }}
{% set pwdform1=form.passwordinput.password|first %}
{% set pwdform2=form.passwordinput.password|last %}
<table border="0" cellpadding="2" cellspacing="0" width="450">
  <tr>
    <td class="pwd-label label">{{ form_label(pwdform1) }}:</td>
    <td class="pwd-widget">{{ form_widget(pwdform1,{'attr':{'tabindex':4,'autocomplete':'off'}}) }}{{ form_errors(pwdform1) }}</td>

    <td rowspan="2" class="pwd-signup" align="right" valign="bottom"><input class="bluebutton" name="pwdsignup" tabindex="6" type="submit" value="{% trans from 'registration' %}form.buttonSignUp{% endtrans %}"></td>
  </tr>
  <tr>
    <td class="label">{{ form_label(pwdform2) }}:</td>
    <td>{{ form_widget(pwdform2,{'attr':{'tabindex':5,'autocomplete':'off'}}) }}{{ form_errors(pwdform2) }}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2" class="openid-signup"><button tabindex="7" class="buttonlink" type="submit">{% trans from 'registration' %}form.buttonOpenID{% endtrans %}</button></td>
  </tr>
</table>
</div>
{{ form_rest(form) }}
</form>
