{% extends '::base.html.twig' %}
{% trans_default_domain 'registration' %}

{% block stylesheets %}
{% stylesheets
    '@CKBundle/Resources/public/css/admin/register.css'
    output='css/register.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
<script language="javascript" type="text/javascript">
function setInput(input) {
  if (!input.value) {
    input.value = input.getAttribute('placeholder');
    input.onfocus = clearInput;
  }
}
function clearInput() {
  this.value = '';
  this.onfocus = null;
}
</script>
{% endblock %}

{% block onload %}
if (!('placeholder' in document.createElement('input'))) {
  var nameTD = document.getElementById('name-widget');
  var i, inputs = nameTD.getElementsByTagName('input');
  for (i = 0; i < inputs.length; i++) {
    setInput(inputs[i]);
  }
}
{% endblock %}

{% block body %}
<div id="wrapper">
<a name="top">
<img id="commitkeeper" src="/images/CKbannerReg.png" alt="{% trans from 'messages' %}CommitKeeper{% endtrans %}">

<div class="panel top-panel">

  <div id="panel_l">
{% if loggedIn %}
{% include 'CKBundle:Registration:front_welcome_user.html.twig' %}
{% else %}
{% include 'CKBundle:Registration:front_register_form.html.twig' %}
{% endif %}
  </div>

  <div id="panel_r">
    <h2>{% trans %}header.rightHeading{% endtrans %}</h2>

    <p><a href="http://www.commitkeeper.com/sf/" target="_blank"><img src="/images/app_exch.png" alt="{% trans %}header.AppExchange{% endtrans %}" border="0"></a><br>{% trans %}header.reqSalesforce{% endtrans %}</p>
    </div>

  <div class="clear"></div>
</div>

<div class="panel">
  <div class="TopMenu">
    <div class="execution">
<p><a href="#BES">{% trans %}topMenu.execution.by{% endtrans %}</a></p>

<p><a href="http://www.4spires.com/" target="_blank"><img src="/images/4_spires.png" alt="4 spires" border="0"></a></p>

<p><a href="http://www.4spires.com/customers/index.html" target="_blank">{% trans %}topMenu.execution.customers{% endtrans %}</a></p>
<p><a href="#resources" target="_blank">{% trans %}topMenu.execution.resources{% endtrans %}</a></p>
    </div>

    <div class="benefits">
<p><a href="#benefits">{% trans %}topMenu.benefits.benefits{% endtrans %}</a></p>

<ul>
  <li><a href="#coord">{% trans %}topMenu.benefits.coordination{% endtrans %}</a></li>
  <li><a href="#account">{% trans %}topMenu.benefits.accountability{% endtrans %}</a></li>
  <li><a href="#engage">{% trans %}topMenu.benefits.engagement{% endtrans %}</a></li>
  <li><a href="#visi">{% trans %}topMenu.benefits.visibility{% endtrans %}</a></li>
  <li><a href="#trust">{% trans %}topMenu.benefits.trust{% endtrans %}</a></li>
</ul>
    </div>

    <div class="who">
<p><a href="#whofor">{% trans %}who.topMenuFor{% endtrans %}</a></p>

<ul>
  <li><a href="#mktgDir">{% trans %}who.mktgDir.header{% endtrans %}</a></li>
  <li><a href="#projlead">{% trans %}who.projlead.header{% endtrans %}</a></li>
  <li><a href="#salesexec">{% trans %}who.salesexec.header{% endtrans %}</a></li>
  <li><a href="#remotemgr">{% trans %}who.remotemgr.header{% endtrans %}</a></li>
  <li><a href="#eventcoord">{% trans %}who.eventcoord.header{% endtrans %}</a></li>
  <li><a href="#seniorexec">{% trans %}who.seniorexec.header{% endtrans %}</a></li>
  <li><a href="#perfmgmt">{% trans %}who.perfmgmt.header{% endtrans %}</a></li>
</ul>
    </div>
    <div class="clear"></div>
  </div>
<table cellspacing="2" cellpadding="2" border="0" class="main-table">

<tr>
        <td style="text-align: center;" colspan="2">
        <hr style="max-width: 100%; max-height: 2px; margin-bottom: 1em;">
                </td>
</tr>

<tr valign="top">
        <td colspan="2"><a name="WfMB"></a>
        <div class="colHead" style="text-align: center; font-size: 24pt;">{% trans %}award2013.header{% endtrans %}</div>
<br><br>{% trans %}award2013.p1{% endtrans %}<br><br>
        </td>
</tr>

<tr>
        <td style="text-align: center;" colspan="2">
        <hr style="max-width: 100%; max-height: 2px; margin-bottom: 1em;">
                </td>
</tr>

<tr valign="top">
        <td colspan="2"><a name="BES"></a>
        <div class="colHead" style="text-align: center; font-size: 24pt;">{% trans %}execution.header{% endtrans %}</div>
<br><br>{% trans %}execution.p1{% endtrans %}<br><br>
        </td>
</tr>

<tr valign="top">
        <td width="35%" class="colHead"><a name="background">{% trans %}execution.header2{% endtrans %}</a>
        <a href="http://www.commitkeeper.com/sf/" target="_blank"><img src="/images/app_exch.png" alt="{% trans %}header.AppExchange{% endtrans %}" style="float: left; margin: 1em 0em 1em;"></a>
        <p class="caption">
            {% trans %}salesforce.freeTrial{% endtrans %}<br>
        </p>
        <p class="caption" style="text-align: left;">
            {% trans %}salesforce.subscribe{% endtrans %}
        <br><br>
            {% trans %}salesforce.installation{% endtrans %}
        </p>
        </td>
        <td>
{% trans %}execution.p2{% endtrans %}<br><br>
<br>
<a href="http://www.commitkeeper.com/video/" target="_blank"><img src="/images/videosta.png" style="float: right; border: 1px dotted;"></a>
{% trans %}execution.videoSalesScenario{% endtrans %}
        </td>
</tr>

<tr>
        <td style="text-align: center;" colspan="2">
        <hr style="max-width: 100%; max-height: 2px; margin-bottom: 1em;">
        </td>
</tr>

<tr valign="top">
    <td class="colHead"><a name="benefits">{% trans %}benefits.header{% endtrans %}</a><br>
    <p class="backUp class2"><a href="#top">{% trans %}backToTop{% endtrans %}</a></p>
            <img src="/images/handshak.jpg" alt="{% trans %}handshake.alt{% endtrans %}" border="0" style="float: left; margin-top: 5em;" width="300" height="299">
    <p class="caption">
        {% trans %}handshake.caption{% endtrans %}
    </p>
    </td>
    <td>

<a name="coord"></a>
{% trans %}benefits.coordination.header{% endtrans %}
  <ul>
{% for i in 1..4 %}
    <li>{{ ('benefits.coordination.bullet' ~ i)|trans|raw }}</li>
{% endfor %}
  </ul>

<a name="account"></a><br><br>
{% trans %}benefits.accountability.header{% endtrans %}
  <ul>
{% for i in 1..5 %}
    <li>{{ ('benefits.accountability.bullet' ~ i)|trans|raw }}</li>
{% endfor %}
  </ul>

<a name="engage"></a><br><br>
{% trans %}benefits.engagement.header{% endtrans %}
  <ul>
{% for i in 1..6 %}
    <li>{{ ('benefits.engagement.bullet' ~ i)|trans|raw }}</li>
{% endfor %}
  </ul>

<a name="visi"></a><br><br>
{% trans %}benefits.visibility.header{% endtrans %}
  <ul>
{% for i in 1..4 %}
    <li>{{ ('benefits.visibility.bullet' ~ i)|trans|raw }}</li>
{% endfor %}
  </ul>

<a name="trust"></a><br><br>
{% trans %}benefits.trust.header{% endtrans %}
  <ul>
{% for i in 1..5 %}
    <li>{{ ('benefits.trust.bullet' ~ i)|trans|raw }}</li>
{% endfor %}
  </ul>

    </td>
</tr>

<tr>
        <td style="text-align: center;" colspan="2">
        <hr style="max-width: 100%; max-height: 2px; margin-bottom: 1em;">
        </td>
</tr>

<tr valign="top">
        <td class="colHead"><a name="whofor">{% trans %}who.header{% endtrans %}</a><br>
        <p class="backUp class2"><a href="#top">{% trans %}backToTop{% endtrans %}</a></p>
        
        <div style="margin-top: 24em;" class="caption">
          <a href="http://www.commitkeeper.com/help/index.html#HOW" target="_blank"><img src="/images/08_sf_R_.png" alt="{% trans %}salesSupportScenario.alt{% endtrans %}" width="250" height="94" style="margin-bottom: 1em;"></a>
          <br>
          {% trans %}salesSupportScenario.caption{% endtrans %}
        </div>
        </td>
        <td>
<a name="mktgDir">
<b>&#8220;{% trans %}who.mktgDir.header{% endtrans %}&#8221;</b>
{% trans %}who.mktgDir.text{% endtrans %}<br>

<a name="projlead"></a><br>
<b>&#8220;{% trans %}who.projlead.header{% endtrans %}&#8221;</b>
{% trans %}who.projlead.text{% endtrans %}<br>

<a name="salesexec"></a><br>
<b>&#8220;{% trans %}who.salesexec.header{% endtrans %}&#8221;</b>
{% trans %}who.salesexec.text{% endtrans %}<br>

<a name="remotemgr"></a><br>
<b>&#8220;{% trans %}who.remotemgr.header{% endtrans %}&#8221;</b>
{% trans %}who.remotemgr.text{% endtrans %}<br>

<a name="eventcoord"></a><br>
<b>&#8220;{% trans %}who.eventcoord.header{% endtrans %}&#8221;</b>
{% trans %}who.eventcoord.text{% endtrans %}<br>

<a name="seniorexec"></a><br>
<b>&#8220;{% trans %}who.seniorexec.header{% endtrans %}&#8221;</b>
{% trans %}who.seniorexec.text{% endtrans %}<br>

<a name="perfmgmt"></a><br>
<b>&#8220;{% trans %}who.perfmgmt.header{% endtrans %}&#8221;</b>
{% trans %}who.perfmgmt.text{% endtrans %}<br>
<br>
        </td>
</tr>

<tr>
        <td style="text-align: center;" colspan="2">
        <hr style="max-width: 100%; max-height: 2px; margin-bottom: 0em;">
        </td>
</tr>

<tr style="vertical-align: top;">
		<td class="colHead"><a name="resources">{% trans %}Resources{% endtrans %}</a><br>
<br>
        <p class="backUp class2"><a href="#top">{% trans %}backToTop{% endtrans %}</a></p>
		</td>
		<td>
		<p class="p1">{% trans %}whitePapers.p1{% endtrans %}</p>
		<div style="font-size: 90%;">
	<table>
		<tr>
			<td>&bull; {% trans %}whitePapers.title1{% endtrans %}&nbsp;&nbsp;&nbsp;<br>
			&bull; {% trans %}whitePapers.title2{% endtrans %}
			</td>
			<td>&bull; {% trans %}whitePapers.title3{% endtrans %}<br>
			&bull; {% trans %}whitePapers.title4{% endtrans %}
			</td>
		</tr>
		<tr><td colspan="2" style="text-align: center;"><a href="http://www.4spires.com/docs/">{% trans %}Downloads{% endtrans %}</a>
	</table>
</div>

		</td>
</tr>

<tr>
        <td style="text-align: center;" colspan="2">
        <hr style="max-width: 100%; max-height: 2px; margin-bottom: 0em;">
                </td>
</tr>

<tr>
        <td><a name="4spires" href="http://www.4spires.com/" target="_blank">
        <img src="/images/4Spires_2012.png" style="float: left;"></a><br clear="all">
        <br>
        <p class="backUp class2" style="text-align: left;text-transform: uppercase;"><a href="#top">{% trans %}backToTop{% endtrans %}</a></p>
        </td>
        <td valign="top">
<div class="bottom-text">{% trans %}bottomText{% endtrans %}</div>
        </td>
</tr>

</table>
  <div class="clear"></div>
</div>

<div class="footer">
  <p>© {{'now'|date('Y')}}, {% trans %}footer{% endtrans %}<p>
</div>

</div>
{% endblock %}
