{% trans_default_domain 'welcome' %}
<table cellpadding="6" cellspacing="2" width="800" align="center" style="" id="ck_welcomeMsg">
<tr>
        <td style="text-align: center; font-size: 18pt; ">
        <form action="{{ form_action }}" method="post">
        <input type="submit" value="{% trans %}close{% endtrans %}" name="noWelcomeScreen" style="float: right;">
        </form>
        <br clear="all"> {% trans %}welcomeTo{% endtrans %}<br>
        <span style="font-size: 32pt;">{% trans from 'messages' %}CommitKeeper{% endtrans %}</span><br>
        </td>
</tr>
<tr>
        <td style="text-align: left; padding: 0 60px;">
{% for step in 1..3 %}
<p style="font-size: 18pt; margin-bottom: -.5em;">
{{ ('step' ~ step ~ '.heading')|trans|raw  }}
</p>
<ul style="margin-left: 3.7em;">
  {% for i in 1..4 %}
        <li>{{ ('step' ~ step ~ '.bullet' ~ i)|trans|raw  }}</li>
  {% endfor %}
</ul>
{% endfor %}
        </td>
</tr>

<tr align="center">
        <td style="font-size: 12pt; text-align: center;">
        <i>{% trans %}footer{% endtrans %}</i>
        </td>
</tr>

</table>
