{# Add a class to the div sourronding the general field row #}
{% block field_row %}
{% spaceless %}
    <div{% if class|default(false) %} class="{{ class }}"{% endif %}>
        {{ form_label(form, label|default(null)) }}
        {{ form_errors(form) }}
        {{ form_widget(form, {'attr':attr|default(null)}) }}
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block info_label %}
<span class="label">{{ label|trans({},translation_domain) }}: </span>
{% endblock info_label %}

{% block info_widget %}
{% spaceless %}
<span  id="{{ id }}" {%
 for attrname,attrvalue in attr %}{{attrname}}="{{attrvalue}}" {%
 endfor %}>{{ value }}</span>
{% endspaceless %}
{% endblock info_widget %}

{% block gravatar_default_widget %}
<table {{ block('widget_container_attributes') }}>
{% for child in form %}
<tr>
 <td><img src="{{ form.vars.url }}{{child.vars.value}}&amp;f=y"/></td>
 <td>{{ form_widget(child) }}<br />
     {{ form_label(child) }}</td>
</tr>
{% endfor %}
</table>
{% endblock gravatar_default_widget %}

{% block attachment_widget %}
<table class="attachment"><tr>
<td>{{ form_row(form.name) }}</td><td>{%
 set link = link|default(form.islink.vars.checked) %}{{
 form_widget(form.islink, {'checked':link}) }}{%
 if link
 %}{{ form_row(form.linkUrl) }}{%
 else
 %}{{ form_row(form.file) }}{%
 endif %}</td>
</tr></table>
{% endblock attachment_widget %}

{% block statusUpdate_widget%}
<select {{ block('widget_attributes') }}>
{% for optval, choice in choices %}
<option value="{{ optval }}"{% if optval==value %} selected="selected"{% endif %} data-imagesrc="{{ asset(choice.img) }}" data-description="{{ choice.text|trans({}, translation_domain) }}"></option>
{% endfor%}
</select>
{% endblock statusUpdate_widget%}

{# Errors #}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="error">
        {% for error in errors %}
            <li>{{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block collection_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="error">
        {% for error in errors %}
            <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators')|raw }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock collection_errors %}
