{% block user_list_widget %}
{% spaceless %}
{% macro userCheck(oneUserCheckForm, onchange) %}
<tr>
  <td>{{ form_widget(oneUserCheckForm,{'attr':{'onchange':onchange} }) }}{{
 form_label(oneUserCheckForm) }}</td>
</tr>
{% endmacro %}
{% import _self as macros %}
{% set onchange = 'onChange%s()'|format(id) %}
{% set attr = attr|merge({'class': 'users_table'}) %}
<div id="{{ id }}container" class="modal_container">
  <div id="{{ id }}_modaldialog" class="users_dialog">
    <div class="users_table_div">
    <table {{ block('widget_container_attributes') }} data-prototype="{{ macros.userCheck(prototype, onchange)|e }}">
      {% for user in fixed %}
      <tr>
        {% set f_id = 'fixedUser%d'|format(user.Id) %}
        <td><input id="{{ f_id }}" type="checkbox" checked="checked" disabled="disabled" />
        <label for="{{ f_id }}">{{ user.NameAndEmail }}</label></td>
      </tr>
      {% endfor %}
      {% for child in form %}
        {{ macros.userCheck(child, onchange) }}
      {% endfor %}
    </table>
    </div>
    <div class="ck-dialog-newuser" data-action="{{newContactUrl}}">
      <span id="{{ id }}_newcontact">
        {% include 'CKBundle:Form:Include/newContact.html.twig' %}
      </span>
        <button class="ck-new-contact" type="button" onclick="newUserAdd($('#{{ id }}_newcontact'), $('#{{ id }}'))">{% trans %}userList.add{% endtrans %}</button>
    </div>
    <div>
      <button type="button" onclick="closeDialog{{ id }}()" class="ck-pad-top-botton">{% trans %}userList.save{% endtrans %}</button>
      &nbsp;{% trans %}userList.select.label{% endtrans %}:
      &nbsp;<a href="javascript:;" onclick="$('#{{ id }} input[type=checkbox]').prop('checked',true)">{% trans %}userList.select.all{% endtrans %}</a>
      &nbsp;<a href="javascript:;" onclick="$('#{{ id }} input[type=checkbox]').prop('checked',false)">{% trans %}userList.select.none{% endtrans %}</a>
    </div>
  </div>
<a href="javascript:;" id="{{ id }}list" onclick="openDialog{{ id }}()">{{ list_text }}</a>
</div>
{% endspaceless %}
<script type="text/javascript">
var changed_{{ id }} = false;
$(document).ready(function() {
  $('#overlay').click(function() { closeDialog{{ id }}(); })
});
function {{ onchange }} {
  changed_{{ id }} = true;
}
function openDialog{{ id }}() {
    $('#overlay').show();
    $('#{{ id }}_modaldialog').show();
}
function closeDialog{{ id }}() {
    $('#overlay').hide();
    $('#{{ id }}_modaldialog').hide();
    if(changed_{{ id }}) {
      alter_list($('#{{ id }}list'),$('#{{ id }} td'),' {{'and'|trans}} ','{{
empty_value|trans}}');
    }
    changed_{{ id }} = false;
    newUserClean($('.ck-dialog-newuser'));
}
</script>
{% endblock user_list_widget %}
