{% extends 'CKBundle:Main:main_base.html.twig' %}

{% block stylesheets %}
{% include 'CKBundle:Settings:cssdef_settings.html.twig' %}
{% endblock %}

{% block javascripts %}
{% javascripts
    '@CKBundle/Resources/public/js/form/*'
    output='js/form.js'
%}
<script language="javascript" type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block rightcol %}
<div id="edittags">
<h2>{% trans %}tagsInCategory.heading{% endtrans %}: {{ category_name }}</h2>

<form action="{{ form_action }}" method="post" {{ form_enctype(form) }}>

<div class="ck-settings-left">
  <p>{% trans with {'%categoryName%': category_name} %}tagsInCategory.text1%categoryName%{% endtrans %}:</p>

{{ form_errors(form) }}

  <div id="tags_div"
       data-prototype-id="{{ form_widget(form.tags.vars.prototype.id)|e }}"
       data-prototype-name="{{ form_widget(form.tags.vars.prototype.name)|e }}">

{% for tag in form.tags %}
{% set id = 'tagp' ~ tag.vars.tagid %}
    <p id="{{ id }}" data-tagsource="{{ tag.vars.source }}">
      <a class="buttonlink" href="javascript:;" onclick="delete_tag(this)">{% trans %}Delete{% endtrans %}</a>
      {{ form_widget(tag.id) }}{{ form_widget(tag.name) }}</p>
{% else %}
    {{ form_widget(form.tags) }}
{% endfor %}
    <p id="tagp_new" class="ck-settings-newbutton">
      <a class="buttonlink" href="javascript:;" onclick="add_new_tag()">{% trans with {'%categoryName%': category_name} %}tagsInCategory.new%categoryName%{% endtrans %}</a></p>
  </div>
</div>

<div class="ck-settings-right">
  <p>{% trans with {'%categoryName%': category_name} %}tagsInCategory.text2%categoryName%{% endtrans %}:</p>

  <div id="other_tags">
{% for tag in used_tags %}
{% set id = 'tagp' ~ tag.Id %}
    <p id="{{ id }}" data-tagsource="O">
      <a class="buttonlink" href="javascript:;" onclick="add_old_tag(this)">{% trans %}Add{% endtrans %}</a>
      {{ tag.Name }}</p>
{% endfor %}
  </div>
</div>

<div class="ck-settings-divider"></div>

<div class="ck-settings-buttons">
  <a class="ck-settings-cancelbutton buttonlink" href="{{ url('CK_edit_settings') }}">{% trans %}Cancel{% endtrans %}</a>
  <input class="ck-settings-savebutton" type="submit" name="send" value="{% trans %}Save{% endtrans %}"/>
</div>
{{ form_rest(form) }}
</form>
</div>
{% endblock %}
