{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
    '@CKBundle/Resources/public/css/admin/confirm.css'
    output='css/confirm.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
<div id="wrapper">
    <img id="commitkeeper" src="/images/login_banner2.png" alt="CommitKeeper" />

    <div id="connect">
        <table class="centre">
            <tr>
                {% for languageCode in languages|keys %}
                    <td><h2>{% trans into languageCode %}settings.chooseLanguage.header{% endtrans %}</h2></td>
                {% endfor %}
            </tr>
            <tr>
                {% for languageCode, languageName in languages %}
                    <td><a href="{{ urlPrefix }}/{{ languageCode }}/{{ urlEnding }}">
                            <img title="{{ languageName }}" alt="{{ languageName }}" src="/images/flag_{{ languageCode }}.png" />
                            <div class="caption">{{ languageName }}</div>
                        </a></td>
                {% endfor %}
            </tr>
        </table>
    </div>
</div>
{% endblock %}
