{% spaceless %}
{{ form_errors(form.firstName) }}
{{ form_widget(form.firstName, {'attr': {'size':'12','placeholder':('user.firstName.long'|trans)} }) }}

{{ form_errors(form.lastName) }}
{{ form_widget(form.lastName, {'attr': {'size':'24','placeholder':('user.lastName.long'|trans)} }) }}

{{ form_errors(form.email) }}
{{ form_widget(form.email, {'attr': {'size':'30','placeholder':('user.email.short'|trans)} }) }}
{% endspaceless %}
