{% extends 'CKBundle:Main:main_base.html.twig' %}

{% block onload %}
var RT_table = new SortedTable('RT_table');
RT_table.onbodyclick = function(elm,e) {
  elm = SortedTable.findParent(elm,'tr');
  window.location.href = '{{ CommitmentBaseUrl }}/' + elm.id;
}
RT_table.onbodydblclick = RT_table.onbodyclick;
{% endblock %}

{% block heading %}
{% trans %}Commitments{% endtrans %}
{% endblock %}

{% block rightcol %}
<div id="ck_commListAll">
{% include 'CKBundle:Table:table.html.twig' %}
</div>
{% if hasWelcomeScreen %}
<p>&nbsp;</p>
{% include 'CKBundle:Help:welcome.html.twig' %}
{% endif %}
{% endblock %}

{% block javascripts %}
{% include 'CKBundle:Table:javascr_table.html.twig' %}
{% endblock %}
