<table id="RT_table" class="sort_table">
  <thead class="fixedHeader">
    <tr>
      <th id="status">{% trans %}Status{% endtrans %}</th>
      <th axis="string" id="title" align="left">{% trans %}Title{% endtrans %}</th>
      {% if RT_DispRequestor %}
      <th axis="string" id="requestor" align="left">{% trans %}Requestor{% endtrans %}</th>
      {% endif %}
      <th axis="date" id="duedate" align="left">{% trans %}DueDate{% endtrans %}</th>
      {% if RT_DispPerformer %}
      <th axis="string" id="performer" align="left">{% trans %}Performer{% endtrans %}</th>
      {% endif %} {% for category in RT_Categories['all'] %}
      <th axis="string" id="category{{ category.Id}}" align="left">{{ category.Name|trans }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="scrollContent">
    {% for req in RT_Table %}
    <tr id="{{ req.Id }}" class="{% if loop.index is odd %}odd{% else %}even{% endif %}{{ RT_Unread[req.Id] is defined ? ' unread' : '' }}">
      {% set trafficLightTitle = (('trafficLightTitle.' ~  req.trafficLight.Title)|trans) %}
      <td class="icon" abbr="{{req.trafficLight.Id}}"> <img src="{{asset(req.trafficLight.ImageUri)}}" alt="{{trafficLightTitle}}" title="{{trafficLightTitle}}"></td>
      <td>{{req.title}}</td>
      {% if RT_DispRequestor %}
      <td abbr="{{ req.requestor.LastName }} {{ req.requestor.FirstName }}">{{req.requestor.Name}}</td>
      {% endif %}
      <td class="date" abbr="{{req.DueDate|date('Y-m-d')}}">{{req.DueDate|date(DateFormat)}}</td>
      {% if RT_DispPerformer %}
      <td abbr="{{ req.performer.LastName }} {{ req.performer.FirstName }}">{{req.performer.Name}}</td>
      {% endif %} {% for category in RT_Categories['all'] %}
      <td>{{ RT_Categories[req.Id] is defined ? RT_Categories[req.Id][category.Id] is defined ? RT_Categories[req.Id][category.Id].Tag.Name : '' : '' }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
