/* Button */
input[type=button] {
	height: 26px;
}
input[type=submit] {
	height: 31px;
}
INPUT[type='text'], INPUT[type='email'], TEXTAREA, select {
	background-image: url('/images/form-textinputbg.png');
	background-position: top left;
	background-repeat: repeat-x;
	border: 1px solid #999;
	padding: 3px;
}
INPUT[type='text']:focus, TEXTAREA:focus, INPUT[type='text']:active, TEXTAREA:active, select:active, select:focus {
	border: 1px solid #29abe2;
}
INPUT[type='text'], INPUT[type='email'], select {
	height: 25px;
}
INPUT:invalid {
	box-shadow: none;
}

button.ck-cd-form-input-send:hover, input[type=button].ck-cd-form-input-send:hover, input[type=button].ck-cd-form-input-send:focus, input[type=submit].ck-cd-form-input-send:hover, input[type=submit].ck-cd-form-input-send:focus {
	cursor: pointer;
}

.ck-cd-form-input-cc {
	float: right;
	margin: 5px 5px;
	font-size: 12px;
}
.ck-cd-form-input-cancel {
	float: left;
	font-size: 11.7px !important;
	text-decoration: none;
	color: black;
	border: 1px solid #999;
	border-radius: 4px;
	padding: 5px;
}
.ck-cd-form-input-send {
	float: right;
	font-size: 11.7px;
	color: black;
	border-radius: 4px;
	border: 1px solid #999;
	height: 24px !important;
	background-color: white;
}

select {
	width: 96%;
}
