{% extends '::base.html.twig' %}

{% block body %}
<h1>{% trans %}accessDenied.header{% endtrans %}</h1>
<p>{% trans %}accessDenied.text{% endtrans %}</p>
<p><a href="/login">{% trans %}loginLink{% endtrans %}</a></p>
{% endblock %}
