{% extends '::base.html.twig' %}

{% block stylesheets %}
{% include 'CKBundle:Security:cssdef_login.html.twig' %}
{% endblock %}


{% block javascripts %}
{% javascripts
    'bundles/bazingajstranslation/js/translator.min.js'
    'js/translations/config.js'
    'js/translations/javascript/*.js'
    '@CKBundle/Resources/public/js/login/*'
    output='js/login.js'
%}
<script language="javascript" type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script language="javascript" type="text/javascript"><!--
setupJainRainLogin('{{ login_check_url }}');
//--></script>
{% endblock %}


{% block body %}
<div id="wrapper">
  <img id="commitkeeper" src="/images/login_banner2.png" alt="{% trans %}CommitKeeper{% endtrans %}" />

{% if (openIds|length)>0 %}
  <div id="add_provider" class="whitebox">
    {% transchoice openIds|length %}login.addOpenId{% endtranschoice %}
    <ul>
{% for oid in openIds %}
      <li>{{ oid.provider }}</li>
{% endfor %}
    </ul>
    <a href="{{ path('clean_login') }}">{% trans %}login.cancelAddOpenId{% endtrans %}</a>
  </div>
{% endif %}
{% if error %}
  <div class="error whitebox">{{ error.message ? (error.message|trans({}, 'validators')|raw) : error.messageKey|trans(error.messageData, 'validators')|raw }}</div>
{% endif %}

  <div id="login" class="whitebox">

<form action="{{ login_check_url }}" method="post">
<table class="pwdlogin" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="first"><label for="username">{% trans %}user.email.short{% endtrans %}:</label></td>
{% if isRememberMe %}
    <td>
      <span class="username">{{ default_username }}</span>
      <input type="hidden" id="username" name="_username" value="{{ default_username }}"/>
    </td>
    <td></td>
{% else %}
    <td>
      <input type="text" id="username" name="_username" maxlength="200" value="{{ default_username }}" onfocus="if(this.value==this.defaultValue){var self=this;setTimeout(function() {self.select();}, 0);}" />
    </td>{% block debug %}<td></td>{% endblock %}
{% endif %}
  </tr>
  <tr>
    <td class="first"><label for="password">{% trans %}password.password{% endtrans %}:</label></td>
    <td><input type="password" id="password" name="_password" /></td>
    <td></td>
  </tr>
  <tr>
    <td class="first"></td>
    <td>
      <input type="checkbox" id="remember_me" name="_remember_me" checked="checked"/>
      <label for="remember_me">{% trans %}login.rememberMe{% endtrans %}</label>
    </td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <input class="login_submit" type="submit" value="{%
         if isRememberMe %}{% trans %}login.button.verify{% endtrans %}{%
         else %}{% trans %}login.button.normal{% endtrans %}{%
         endif %}" />
{% if isRememberMe %}
    <a class="log_out buttonlink" href="{{ path('logout') }}">{% trans %}login.logout{% endtrans %}</a>
{% endif %}
    </td>
    <td></td>
  </tr>
{% if not (isRememberMe or (openIds|length)>0) %}
  <tr>
    <td colspan="2" align="center">
      {% trans %}login.noAccount{% endtrans %}
      <a href="{{path('CK_register')}}">{% trans %}login.createOne{% endtrans %}</a>
      <input class="forgot_password" type="submit" name="forgotPW" value="{% trans %}login.button.forgot{% endtrans %}" />
    </td>
    <td></td>
  </tr>
{% endif %}
</table>
<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
</form>

  </div>

  <div id="janrainEngageEmbed"></div>

</div>
{% endblock %}
